@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* A type of variable assignation */
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}
.certi {
  background: var(--second-bg-color);
  padding: 0 10%;
}

.certi h2 {
  margin-bottom: 4rem;
}

.certi-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.certi-container .certi-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.certi-box img {
  width: 100%;
  transition: 0.5s ease;
}

.certi-box:hover img {
  transform: scale(1.1);
}

.certi-box .certi-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 1s ease;
}

.certi-box:hover .certi-layer {
  transform: translateY(0);
}

.certi-layer h4 {
  font-size: 3rem;
}

.certi-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.certi-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.certi-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}
